/* gambling, casino */
@media screen and (max-width: 700px) {
    main {
      display: flex;
      flex-direction: column;
    }
  }
@font-face {
    font-family: 'title';
    src: url(../fonts/Royalacid_o.ttf);
}
@font-face { 
    font-family: 'text';
    src: url(../fonts/Champagne\ &\ Limousines.ttf)
}
body {
    font-family: 'text';
}
header {
    color: white;
    font-size: 2em;
    font-family: 'title';
    background-color: crimson;
    border: 5px solid white;
    text-align: center;
    text-shadow: 2px 2px black;
}
header h1 {
    font-size: 3em;
}
main {
    background: center no-repeat url();
    background-size: contain;
    margin: 2em;
    font-size: 3em;
}
#form {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    justify-content: space-between;
}
#introSection {
    width: auto;
    overflow: scroll;
    height: 25em;
    color: white;
    background: center no-repeat url(../images/cards01.jpg);
    background-color: rgba(0, 0, 0, 0.479);
    background-blend-mode: soft-light;
    background-size: cover;
    font-size: .5em;
}
#introSection h2 {
    padding: 1em .5em;
}
#introSection p {
    font-family: 'text';
    padding: 0 1em;
    font-size: 1.1em;
    text-align: justify;
    text-shadow: 1px 1px rgb(0, 0, 0);
    line-height: 2;
}
#formSection {
    font-family: 'text';
    background: center no-repeat url(../images/cards02.jpg);
    background-color:  crimson;
    background-blend-mode: screen;
    color: white;
    background-size: cover;
    font-size: .5em;
}
#formSection label {
    padding: 0.5em;
    margin-top: 1em;
    font-size: 36px;
}
hr {
    display: none;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    font-family: 'text';
}
select, input {
    position: relative;
    font-size: .8em;
    font-family: 'text';
    margin-top: 3em;
    height: 3em;
    width: 35%;
}
select {
    padding: .5em;
    top: 50%;
    left: 30%;
}
input {
    bottom: 30%;
    left: 30%;
}